@import "/styles/normalize.css";
@import "/styles/fonts.css";
@import "/styles/media.css";

* h1,
h2,
p {
  margin: 0px;
  padding: 0px;
  border: 0px;
  line-height: 0px;
  letter-spacing: 0px;
}

body {
  background-color: #f4f4f4;
}

.container {
  width: 1200px;
}

/* home-intro */
.home-intro {
  display: flex;
  justify-content: center;
  padding: 60px 0 67px 0;
}

.home-intro-container {
  text-align: center;
  width: 770px;
}

.home-intro_text {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 6px 55px 0 55px;
}

/* home-featured */
.home-featured {
  background-image: url(/content/images/2_home-featured/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-content: center;
  width: 100%;
  max-height: 530px;
  padding: 30px 134px 0 204px;
  gap: 15px;
}
.home-featured_content {
  text-align: left;
  align-self: center;
  width: 552px;
  height: 203px;
  padding: 65px 0 40px 15px;
}
.home-featured_content__text1 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #888888;
  text-transform: uppercase;
}
.home-featured_content__text2 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.home-featured_content__text3 {
  font-family: Montserrat;
  font-weight: regular;
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
  width: 473px;
}
.home-featured_img {
  width: auto;
  height: auto;
}
.home-featured_img img {
  width: auto;
  height: auto;
}

/* home-tiles */
